<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboared</title>
</head>
<body>
    <p>mustapha belkassam</p>
    <p>algeria</p>
    {% if user.is_authenticated %}
    rah logged
        <form action="{% url '__logout' %}" method="post">
            {% csrf_token %}
            {{user.username}}
            {{user.password}}
            <button class="btn btn-primary btn-sm" type="submit">Log Out</button>
        </form>
    {% endif %}
</body>
</html>